code/flows.json
[{"id":"f3e39259.a62f2","type":"tab","label":"twitter_project","disabled":false,"info":""},{"id":"d5f9ad44.0ae0f","type":"switch","z":"f3e39259.a62f2","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":620,"y":340,"wires":[["d7f3b1f4.6976f"],["b8654e8.34ca1b"]]},{"id":"2d85da89.b48eb6","type":"debug","z":"f3e39259.a62f2","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":610,"y":300,"wires":[]},{"id":"eeb7682d.a81038","type":"debug","z":"f3e39259.a62f2","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":500,"y":60,"wires":[]},{"id":"f8c5d677.f54508","type":"function","z":"f3e39259.a62f2","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["2c303e75.58e612","8206e36a.3376"]]},{"id":"2c303e75.58e612","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":800,"y":140,"wires":[]},{"id":"72cfd74d.01da98","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.text","targetType":"msg","x":490,"y":100,"wires":[]},{"id":"abb11a5b.8ee828","type":"comment","z":"f3e39259.a62f2","name":"#COVID19 Tweet sentiment analysis","info":"","x":180,"y":40,"wires":[]},{"id":"8206e36a.3376","type":"sentiment","z":"f3e39259.a62f2","name":"Sentiment of Tweets","property":"payload","x":360,"y":340,"wires":[["2d85da89.b48eb6","d5f9ad44.0ae0f","da2bd80f.99bc28"]]},{"id":"d7f3b1f4.6976f","type":"debug","z":"f3e39259.a62f2","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":280,"wires":[]},{"id":"b8654e8.34ca1b","type":"debug","z":"f3e39259.a62f2","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":910,"y":400,"wires":[]},{"id":"d6141614.ed2658","type":"function","z":"f3e39259.a62f2","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":520,"wires":[["51a296bb.e91a78"]]},{"id":"da2bd80f.99bc28","type":"delay","z":"f3e39259.a62f2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":520,"wires":[["82236a13.d29f78","2c28d600.26588a","d6141614.ed2658"]]},{"id":"51a296bb.e91a78","type":"cloudant out","z":"f3e39259.a62f2","name":"","cloudant":"","database":"tweetdata","service":"IoT-feed-gauge-cloudantNoSQLDB","payonly":true,"operation":"insert","x":770,"y":520,"wires":[]},{"id":"82236a13.d29f78","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":560,"wires":[["668b6431.753a9c"]]},{"id":"2c28d600.26588a","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":600,"wires":[["91d7f468.55c2a8","e6b64fd.9bf55b"]]},{"id":"3fc52b24.5dc254","type":"debug","z":"f3e39259.a62f2","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":970,"y":940,"wires":[]},{"id":"30809847.aa5e28","type":"switch","z":"f3e39259.a62f2","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":660,"y":1000,"wires":[["3fc52b24.5dc254"],["233e4514.ce875a"]]},{"id":"c868b98e.91b1c8","type":"debug","z":"f3e39259.a62f2","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"sentiment.score","targetType":"msg","x":650,"y":960,"wires":[]},{"id":"62ae4b35.297f24","type":"debug","z":"f3e39259.a62f2","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":540,"y":720,"wires":[]},{"id":"233e4514.ce875a","type":"debug","z":"f3e39259.a62f2","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":950,"y":1060,"wires":[]},{"id":"a3af2bc4.da5b18","type":"function","z":"f3e39259.a62f2","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":800,"wires":[["61c6c1c3.4e182","84758f25.f2c8b"]]},{"id":"61c6c1c3.4e182","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":840,"y":800,"wires":[]},{"id":"2c8c73de.9f656c","type":"debug","z":"f3e39259.a62f2","name":"","active":false,"console":"false","complete":"tweet.text","x":530,"y":760,"wires":[]},{"id":"c8c4a10b.53a6d","type":"function","z":"f3e39259.a62f2","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1180,"wires":[["1c7217e1.05a088"]]},{"id":"24a7c982.ba2ab6","type":"delay","z":"f3e39259.a62f2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":390,"y":1180,"wires":[["c96823e3.b25bb","6e351d76.f05274","c8c4a10b.53a6d"]]},{"id":"1c7217e1.05a088","type":"cloudant out","z":"f3e39259.a62f2","name":"","cloudant":"","database":"tweetdata","service":"node-red-ozbbt-cloudant-1590470631830-11716","payonly":true,"operation":"insert","x":810,"y":1180,"wires":[]},{"id":"c96823e3.b25bb","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1220,"wires":[["e1c39606.985548"]]},{"id":"6e351d76.f05274","type":"change","z":"f3e39259.a62f2","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1260,"wires":[["7af0ae88.54d45","17aa6bfa.02dee4"]]},{"id":"fa933745.d3efb8","type":"comment","z":"f3e39259.a62f2","name":"Sentiment analysis of people's reaction towards the pandemic","info":"","x":300,"y":680,"wires":[]},{"id":"84758f25.f2c8b","type":"sentiment","z":"f3e39259.a62f2","name":"Sentiment of Tweets","property":"payload","x":400,"y":1000,"wires":[["c868b98e.91b1c8","30809847.aa5e28","24a7c982.ba2ab6"]]},{"id":"668b6431.753a9c","type":"ui_text","z":"f3e39259.a62f2","group":"bf942a68.7d1138","order":2,"width":"0","height":"0","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":760,"y":560,"wires":[]},{"id":"e1c39606.985548","type":"ui_text","z":"f3e39259.a62f2","group":"a2155d4b.05b0c","order":2,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":800,"y":1220,"wires":[]},{"id":"7af0ae88.54d45","type":"ui_gauge","z":"f3e39259.a62f2","name":"","group":"1d165bbb.0f7a94","order":3,"width":0,"height":0,"gtype":"gage","title":"Sentiment Scale","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f90606","#f6da23","#3be84f"],"seg1":"-5","seg2":"5","x":830,"y":1260,"wires":[]},{"id":"91d7f468.55c2a8","type":"ui_chart","z":"f3e39259.a62f2","name":"","group":"bf942a68.7d1138","order":4,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":760,"y":640,"wires":[[]]},{"id":"17aa6bfa.02dee4","type":"ui_chart","z":"f3e39259.a62f2","name":"","group":"a2155d4b.05b0c","order":4,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":800,"y":1300,"wires":[[]]},{"id":"2a9bb15a.a2403e","type":"twitter in","z":"f3e39259.a62f2","twitter":"","tags":"#lockdown,#lockdownextension,government lockdown extension orders,govt orders,lockdown extended","user":"false","name":"Listen to twitter feed","inputs":1,"x":180,"y":760,"wires":[["62ae4b35.297f24","2c8c73de.9f656c","a3af2bc4.da5b18"]]},{"id":"bc4771da.36a39","type":"twitter in","z":"f3e39259.a62f2","twitter":"","tags":"#covid19","user":"false","name":"Listen to twitter feed","inputs":1,"x":150,"y":100,"wires":[["eeb7682d.a81038","72cfd74d.01da98","f8c5d677.f54508"]]},{"id":"e6b64fd.9bf55b","type":"ui_gauge","z":"f3e39259.a62f2","name":"","group":"40ef7b23.d8c364","order":3,"width":0,"height":0,"gtype":"gage","title":"Sentiment Scale","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f90606","#f6da23","#3be84f"],"seg1":"-5","seg2":"5","x":780,"y":600,"wires":[]},{"id":"bf942a68.7d1138","type":"ui_group","z":"","name":"Tweet Sentiment - COVID19","tab":"aeabec9b.cf89a","order":1,"disp":true,"width":"10","collapse":false},{"id":"a2155d4b.05b0c","type":"ui_group","z":"","name":"Tweet Sentiment - Lockdown extension, Government orders","tab":"aeabec9b.cf89a","order":3,"disp":true,"width":"10","collapse":false},{"id":"1d165bbb.0f7a94","type":"ui_group","z":"","name":"Tweet Scoreboard - Lockdown extension, Government orders","tab":"aeabec9b.cf89a","order":4,"disp":true,"width":"6","collapse":false},{"id":"40ef7b23.d8c364","type":"ui_group","z":"","name":"Tweet Scoreboard - COVID19","tab":"aeabec9b.cf89a","order":2,"disp":true,"width":"6","collapse":false},{"id":"aeabec9b.cf89a","type":"ui_tab","z":0,"name":"Twitter Sentiment Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false}]