code/json file/flows.json
[{"id":"edff0e3f.a5972","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"3984ffae.614e1","type":"debug","z":"edff0e3f.a5972","name":"Positive Tweet debug","active":false,"tosidebar":true,"console":false,"complete":"payload","x":1180,"y":1080,"wires":[]},{"id":"9685019d.2b446","type":"switch","z":"edff0e3f.a5972","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":870,"y":1140,"wires":[["3984ffae.614e1"],["b9d50c3b.8672d"]]},{"id":"41a77265.80fa2c","type":"debug","z":"edff0e3f.a5972","name":"msg.sentiment.score","active":false,"tosidebar":true,"console":false,"complete":"sentiment.score","x":860,"y":1100,"wires":[]},{"id":"8b5bcaa3.d77e08","type":"debug","z":"edff0e3f.a5972","name":"msg.tweet details","active":false,"tosidebar":true,"console":false,"complete":"tweet","x":750,"y":860,"wires":[]},{"id":"b9d50c3b.8672d","type":"debug","z":"edff0e3f.a5972","name":"Negative Tweets","active":false,"tosidebar":true,"console":false,"complete":"payload","x":1160,"y":1200,"wires":[]},{"id":"123e950a.788bdb","type":"function","z":"edff0e3f.a5972","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":940,"wires":[["8ad76842.ee7198","2f2eb75d.33a608"]]},{"id":"8ad76842.ee7198","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"tosidebar":true,"console":false,"complete":"payload","x":1050,"y":940,"wires":[]},{"id":"ffa41ace.9bb388","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"tosidebar":true,"console":false,"complete":"tweet.text","x":740,"y":900,"wires":[]},{"id":"204106ab.445c3a","type":"function","z":"edff0e3f.a5972","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1320,"wires":[["7f09bcac.9f7494"]]},{"id":"94791ae.3c7cce8","type":"delay","z":"edff0e3f.a5972","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":600,"y":1320,"wires":[["cae53cd4.32f4","248838f9.333228","204106ab.445c3a"]]},{"id":"7f09bcac.9f7494","type":"cloudant out","z":"edff0e3f.a5972","name":"","cloudant":"","database":"tweetdata","service":"IoT-feed-gauge-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1020,"y":1320,"wires":[]},{"id":"cae53cd4.32f4","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1360,"wires":[["1e81f2d2.8147dd"]]},{"id":"248838f9.333228","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1400,"wires":[["315d74a2.78b6bc","9246f57b.a282d8"]]},{"id":"a42bc094.e93b4","type":"inject","z":"edff0e3f.a5972","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":360,"y":1000,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"5bdd6bb7.a1c9d4","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":1040,"wires":[["123e950a.788bdb"]]},{"id":"cff6ea60.308668","type":"inject","z":"edff0e3f.a5972","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":370,"y":1040,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"50640789.4f34e8","type":"inject","z":"edff0e3f.a5972","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":360,"y":1080,"wires":[["5bdd6bb7.a1c9d4"]]},{"id":"2cc49d67.7fba02","type":"comment","z":"edff0e3f.a5972","name":"Pick a #hashtag to follow","info":"","x":380,"y":860,"wires":[]},{"id":"f07dd163.7c1c9","type":"debug","z":"edff0e3f.a5972","name":"Positive Tweet debug","active":false,"console":"false","complete":"payload","x":1220,"y":1740,"wires":[]},{"id":"9859dd69.d6652","type":"switch","z":"edff0e3f.a5972","name":"Positive / Negative Tweets","property":"sentiment.score","propertyType":"msg","rules":[{"t":"gte","v":"2","vt":"num"},{"t":"lt","v":"0","vt":"str"}],"checkall":"true","outputs":2,"x":910,"y":1800,"wires":[["f07dd163.7c1c9"],["ab9c32f.caa8ad"]]},{"id":"39765ea3.6b56d2","type":"debug","z":"edff0e3f.a5972","name":"msg.sentiment.score","active":false,"console":"false","complete":"sentiment.score","x":900,"y":1760,"wires":[]},{"id":"ca1f0f78.9428c","type":"debug","z":"edff0e3f.a5972","name":"msg.tweet details","active":false,"console":"false","complete":"tweet","x":790,"y":1520,"wires":[]},{"id":"ab9c32f.caa8ad","type":"debug","z":"edff0e3f.a5972","name":"Negative Tweets","active":false,"console":"false","complete":"payload","x":1200,"y":1860,"wires":[]},{"id":"f2cc075f.80e6a8","type":"function","z":"edff0e3f.a5972","name":"Remove URLS and replace #","func":"var tweet = msg.tweet.text;\nvar newtweet = tweet.replace(/#/g, \" Hash tag \");\n\n// regex from https://stackoverflow.com/questions/1500260/detect-urls-in-text-with-javascript\nmsg.payload = newtweet.replace( /(([a-z]+:\\/\\/)?(([a-z0-9\\-]+\\.)+([a-z]{2}|biz|com|co|edu|gov|info|net|org|ly))(:[0-9]{1,5})?(\\/[a-z0-9_\\-\\.~]+)*(\\/([a-z0-9_\\-\\.]*)(\\?[a-z0-9+_\\-\\.%=&amp;]*)?)?(#[a-zA-Z0-9!$&'()*+.=-_~:@/?]*)?)(\\s+|$)/gi, \"see short URL \" );\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":1600,"wires":[["7ec84d0d.fd22a4","57cc3392.5cd75c"]]},{"id":"7ec84d0d.fd22a4","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"console":"false","complete":"payload","x":1090,"y":1600,"wires":[]},{"id":"9df0ba24.4b7c18","type":"debug","z":"edff0e3f.a5972","name":"","active":false,"console":"false","complete":"tweet.text","x":780,"y":1560,"wires":[]},{"id":"351f37ad.1a4338","type":"function","z":"edff0e3f.a5972","name":"Store Tweet data","func":"// tweet object includes a timestamp_ms\nmsg.payload = { \"timestamp\" : msg.tweet.timestamp_ms ,\n                \"tweet\"     : msg.tweet.text,\n                \"sentiment\" : msg.sentiment.score};\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1980,"wires":[["ff4189d3.209e78"]]},{"id":"23d14517.59687a","type":"delay","z":"edff0e3f.a5972","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":1980,"wires":[["a6495535.ee9828","693acbdc.112e54","351f37ad.1a4338"]]},{"id":"ff4189d3.209e78","type":"cloudant out","z":"edff0e3f.a5972","name":"","cloudant":"","database":"tweetdata","service":"node-red-ozbbt-cloudant-1590470631830-11716","payonly":true,"operation":"insert","x":1060,"y":1980,"wires":[]},{"id":"a6495535.ee9828","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"tweet.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2020,"wires":[["366653d6.b77c6c"]]},{"id":"693acbdc.112e54","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"sentiment.score","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":2060,"wires":[["1e4dd3af.b68c8c","22cee816.a82a08"]]},{"id":"5488b738.a21438","type":"inject","z":"edff0e3f.a5972","name":"Happy test","topic":"","payload":"{\"text\":\"every one is awesome\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":400,"y":1660,"wires":[["388a060b.383e4a"]]},{"id":"388a060b.383e4a","type":"change","z":"edff0e3f.a5972","name":"","rules":[{"t":"set","p":"tweet","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":1700,"wires":[["f2cc075f.80e6a8"]]},{"id":"e11d211a.5e2f3","type":"inject","z":"edff0e3f.a5972","name":"Sadness test","topic":"","payload":"{\"text\":\"This is miserable and sad\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":410,"y":1700,"wires":[["388a060b.383e4a"]]},{"id":"4d5e152a.455f7c","type":"inject","z":"edff0e3f.a5972","name":"Angry test","topic":"","payload":"{\"text\":\"I hate this demo\"}","payloadType":"json","repeat":"","crontab":"","once":false,"x":400,"y":1740,"wires":[["388a060b.383e4a"]]},{"id":"64ceddb.d9ddb24","type":"comment","z":"edff0e3f.a5972","name":"Pick a #hashtag to follow","info":"","x":420,"y":1520,"wires":[]},{"id":"d0ae9c0f.485a4","type":"twitter out","z":"edff0e3f.a5972","twitter":"","name":"Retweet positive tweets","x":1180,"y":1120,"wires":[]},{"id":"2f2eb75d.33a608","type":"sentiment","z":"edff0e3f.a5972","name":"Sentiment of Tweets","property":"payload","x":610,"y":1140,"wires":[["41a77265.80fa2c","9685019d.2b446","94791ae.3c7cce8"]]},{"id":"57cc3392.5cd75c","type":"sentiment","z":"edff0e3f.a5972","name":"Sentiment of Tweets","x":650,"y":1800,"wires":[["39765ea3.6b56d2","9859dd69.d6652","23d14517.59687a"]]},{"id":"1e81f2d2.8147dd","type":"ui_text","z":"edff0e3f.a5972","group":"bf942a68.7d1138","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1010,"y":1360,"wires":[]},{"id":"366653d6.b77c6c","type":"ui_text","z":"edff0e3f.a5972","group":"a2155d4b.05b0c","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":1050,"y":2020,"wires":[]},{"id":"315d74a2.78b6bc","type":"ui_gauge","z":"edff0e3f.a5972","name":"","group":"40ef7b23.d8c364","order":1,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#f7d21d","#00e626","#ca3838"],"seg1":"","seg2":"","x":1020,"y":1400,"wires":[]},{"id":"1e4dd3af.b68c8c","type":"ui_gauge","z":"edff0e3f.a5972","name":"","group":"1d165bbb.0f7a94","order":3,"width":0,"height":0,"gtype":"gage","title":"Sentiment","label":"units","format":"{{value}}","min":"-10","max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1060,"y":2060,"wires":[]},{"id":"9246f57b.a282d8","type":"ui_chart","z":"edff0e3f.a5972","name":"","group":"bf942a68.7d1138","order":3,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1010,"y":1440,"wires":[[]]},{"id":"22cee816.a82a08","type":"ui_chart","z":"edff0e3f.a5972","name":"","group":"a2155d4b.05b0c","order":3,"width":0,"height":0,"label":"Tweet Sentiment History","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"10","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"outputs":1,"x":1050,"y":2100,"wires":[[]]},{"id":"4e1f8c02.39abb4","type":"twitter in","z":"edff0e3f.a5972","twitter":"","tags":"#covid19,#covid_19,#covid-19,#corona,corona,covid19,covid-19","user":"false","name":"Listen to twitter feed","inputs":1,"x":390,"y":900,"wires":[["8b5bcaa3.d77e08","ffa41ace.9bb388","123e950a.788bdb"]]},{"id":"d20c8a62.730868","type":"twitter in","z":"edff0e3f.a5972","twitter":"","tags":"lockdown,lockdown extension,govt lockdown extension,lockdown extended","user":"false","name":"Listen to twitter feed","inputs":1,"x":410,"y":1580,"wires":[["ca1f0f78.9428c","9df0ba24.4b7c18","f2cc075f.80e6a8"]]},{"id":"bf942a68.7d1138","type":"ui_group","z":0,"name":"Tweet Details - Pandemic","tab":"aeabec9b.cf89a","order":1,"disp":true,"width":"10","collapse":false},{"id":"a2155d4b.05b0c","type":"ui_group","z":0,"name":"Tweet Details of Lockdown extension,govt orders","tab":"aeabec9b.cf89a","order":3,"disp":true,"width":"10","collapse":false},{"id":"40ef7b23.d8c364","type":"ui_group","z":0,"name":"Tweet Scoreboard - Pandemic","tab":"aeabec9b.cf89a","order":2,"disp":true,"width":"6","collapse":false},{"id":"1d165bbb.0f7a94","type":"ui_group","z":0,"name":"Tweet Scoreboard - Lockdown extension,govt orders","tab":"aeabec9b.cf89a","order":4,"disp":true,"width":"6","collapse":false},{"id":"aeabec9b.cf89a","type":"ui_tab","z":0,"name":"Twitter Sentiment Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false}]